spikeinterface[full,widgets]==0.103.0
mountainsort4==1.0.6
kilosort[gui]
probeinterface==0.3.0
neo==0.14.2
quantities==0.16.2

numpy==2.2.6
pandas==2.3.1
matplotlib==3.10.5
scipy==1.15.3
scikit-learn==1.7.1

openpyxl==3.1.5
xlsxwriter==3.2.5
tqdm==4.67.1
joblib==1.5.1
h5py==3.14.0
pyyaml==6.0.2

ipywidgets
ipyfilechooser
ipydatagrid
ipykernel

numba==0.61.2
llvmlite==0.44.0
psutil==5.9.0
matplotlib-inline==0.1.7
